@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Slab:wght@700&family=Sofia+Sans+Condensed:ital,wght@1,200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
li,.head{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
 .nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px ;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
   color: blueviolet;
}

.in{
    float: right;
    padding: 8px;
    border: none;
    margin-top: 1px;
    margin-left: 350px;
    font-size: 17px;
     border-radius: 16px;
}
.in input{
    width: 350px;
    padding: 5px;
    border-radius: 7px;
    border: none;
}
.in button{
    padding: 5px;
    border-radius: 7px;
    border: none;
    background: white;
}
#sec-section{
    width: 100%;
    height: 40vh;
    background-color: #77dd77;
}
#sec-section h2{
     text-align: center;
    font-family: 'Roboto Slab', serif;
    padding-top: 6%;
    font-size: 40px;
}
#eng{
   background-color: rgb(75, 75, 226);
    padding: 10px 15px ;
    border-radius: 6px;
    border: none;
  margin-left: 650px;
  margin-top: 10px;
  color: white;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    color: rgb(86, 86, 187);
}
.para{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap;  */
    text-align: justify;
    margin: 10px;
    padding: 10px;
}
#for-sec{
    width: 100%;
    height: 60vh;
    background-color: #FFAC1C;
    display: flex;
}
#f1{
    width: 80%;
    padding: 20px 20px;
}
#f1 img{
border-radius: 50%;
}
#f2{
    width: 80%;
    padding: 20px 20px;
}
#f2 img{
    border-radius: 50%;  
}
#f3{
    width: 80%;
    padding: 20px 20px;
}
#f3 img{
    border-radius: 50%;  
}
footer{
    width: 100%;
    height: 10vh;
}
#foot{
    text-decoration: none;
    color: rgb(56, 179, 228);
 padding: 30px 20px;
 margin: auto;
 text-align: center;
 display: block;
}
#copy{
 padding-bottom: 10px;
     text-align: center;
    display: block; 
}
